
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    overflow-y: hidden;
}
html,body {
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 10px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
section {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}

/* End Global Rules */
header {
    padding: 20px;
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fafbff;
    width: 100%;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #000;
    font-weight: bold;
}
.logo span {
    font-weight: 400;
}
header li {
    display: inline-block;
    padding: 0 20px;
    font-weight: bold;
    position: relative;
}
header li a {
    color: #9c3837;
}
.active::before {
    content: "\f121";
    font-family: "Font Awesome 6 Free";
    position: absolute;
    bottom: -16px;
    color: #b71616;
    left: 50%;
    transform: translateX(-50%);
}


@media (max-width: 767px) {
    header {
      padding: 14px 0;
    }
    header .container {
      flex-direction: column;
    }
    header li {
      padding: 0 10px;
    }
    .active::before {
      font-size: 14px;
      bottom: -12px;
    }
  }
  
  
#about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #about .info {
    max-width: 540px;
  }
  #about h1 {
    font-size: 2rem;
  }
  .info span {
    display: inline-block;
    padding: 6px 12px;
    background-color: #9c3837;
    color: #fff;
    margin-bottom: 20px;
  }
  #about p {
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 17px;
    color: #6b6b6b;
  }
  .cv {
    width: 45px;
    height: 45px;
    color: #fff;
    background-color: #9c3837;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    font-size: 30px;
    margin: 15px 5px 0;
  }
  #about .img {
    height: 560px;
  }
  #about img {
    width: auto;
    height: 100%;
    border-radius: 30px;
  }
  @media (max-width: 767px) {
    #about .container {
      flex-direction: column;
    }
    #about .img {
      margin: 12px 35px 0;
    }
  }
  
  #skills h2 {
    width: fit-content;
    color: #fff;
    background-color: #9c3837;
    margin: auto;
    padding: 15px 50px;
    text-align: center;
    border-radius: 15px;
    transition: 0.3s;
  }
  #skills h2:hover {
    color: #9c3837;
    background-color: #f6f7f9;
  }
  .skills {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 30px;
    text-align: center;
  }
  .skills p {
    color: #6b6b6b;
    font-size: 19px;
    font-weight: bold;
    margin-top: 6px;
  }
  #skills img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  #skills img .small{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  @media (max-width: 767px) {
    .skills {
      grid-template-columns: 1fr;
      gap: 20px 0;
    }
  }
  footer {
    padding: 15px 0;
    background-color: #9c3837;
    text-align: center;
    font-size: 28px;
    color: #fff;
  }
  footer i {
    color: #fff;
    margin: 10px;
  }
  footer .a {
    font-size: 17px;
  }
  .fa-heart {
    margin: 0;
  }
